@import com.typesafe.config.ConfigFactory
@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.components.NavBarLinks

@(links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])(implicit request : Request[_])

@navBorder() = {@if(ConfigFactory.load().getString("cjww.dev-phase") == "live") {navbar-with-border} else {navbar}}

@welcomeText() = @{request.session("credentialType") match {
    case "individual"       => s"Welcome, ${request.session("firstName")} ${request.session("lastName")}"
    case "organisation"     => s"Welcome, ${request.session("orgName")}"
}}

<nav class="@navBorder() navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="@{navBarRoutes("navBarLogo")}" width="100">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @NavBarLinks(links)
            </ul>

            <ul class="nav navbar-nav navbar-right">
            @if(request.session.isEmpty) {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Register <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@{navBarRoutes("userRegister")}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> As yourself</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="@{navBarRoutes("orgRegister")}"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> As an organisation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@{navBarRoutes("login")}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a>
                </li>
            } else {
                <li>
                    <a href="@{navBarRoutes("dashboard")}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @welcomeText()</a>
                </li>
                <li>
                    <form class="navbar-form navbar-left" role="button" action="@{navBarRoutes("signOut")}">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</button>
                            </div>
                        </div>
                    </form>
                </li>
            }
            </ul>
        </div>
    </div>
</nav>