@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.MainTemplate

@()(implicit request: Request[_], messagesApi: MessagesApi, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@MainTemplate(title = "We will be back", links, navBarRoutes) {
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="responsive-container">
                        <div class="dummy"></div>

                        <div class="img-container">
                            <img src="@{navBarRoutes("navBarLogo")}" width="100%" alt="CJWW main logo">
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="page-header">
                        <h1 id="main-heading" class="pageTitle">@messagesApi("error.template.maintenance.heading")</h1>
                    </div>

                    <p id="error-message">@messagesApi("error.template.try-again")</p>
                </div>
            </div>
        </div>
    </div>
}