@import views.html.helper.FieldElements
@(formItem: play.api.data.Field, isReadOnly: Boolean, args: (Symbol, Any)*)(implicit messages: MessagesApi, lang: Lang, request: Request[_])

@elements = @{FieldElements(formItem.id, formItem, null, args.toMap, messages.preferred(request))}
@disabled = {@if(isReadOnly){readOnly}}

@formVal={@if(formItem.value.contains("/account-services/assets/images/background.jpg")){}else{@{formItem.value}}}

<div class="form-group">
    <div class="input-group @if(formItem.hasErrors){ has-error }">
        <span class="@{elements.args('_sassClass)}" id="@{elements.args('_spanId)}">@{elements.args('_label)}</span>
        <input type="@{elements.args('_inputType)}" class="form-control" placeholder="@{elements.args('_placeholder)}" aria-describedby="@{elements.args('_spanId)}" id="@{elements.args('_fieldName)}" name="@{elements.args('_fieldName)}" value="@{formVal}" @{disabled} />
    </div>
</div>
