@import com.cjwwdev.views.html.components.{Head, NavigationBar, DevelopmentBanner, Footer}
@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder

@(title: String, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])(mainContent: Html)(implicit request: Request[_], messages: Messages)

<!DOCTYPE html>
<html lang="en">
    @Head(title, navBarRoutes)

    <body>
        @NavigationBar(links, navBarRoutes)
        @DevelopmentBanner()
        @mainContent
    </body>

    @Footer()
</html>
